@import "tailwindcss";

@theme inline {
  --color-primary: #0e4fb1;
  --color-primary-hover: #1360d8;
  --color-background: #000000;
  --color-foreground: #e3e2e2;
  --color-secondary-text: #a0a0a0;
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}

/* Utilities */
.glass-panel {
  background: rgba(17, 17, 17, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(51, 51, 51, 0.5);
}
